
<h1>Welcome to Coin Combo</h1>
<form action="/result">
  <div class="form-group">
    <label for="input">How many pennies do you have?
</label>
    <input id="input" name="input" class="form-control" type="text">